
@{
    ViewBag.Title = "Edit";
}
<div class="container">
    <div class="page-header">
        <h2>
            编辑成员
        </h2>
    </div>
    <form action="/User/Update/@ViewBag.user.id" method="post" enctype="multipart/form-data">
        <div class="form-group" style="max-width: 300px">
            <label for="username">用户名</label>
            <input class="form-control" id="username" type="text" required name="username" value="@ViewBag.user.username">
        </div>
        <div class="form-group" style="max-width: 300px">
            <label for="password">密码</label>
            <input class="form-control" id="password" type="password" required name="password" value="@ViewBag.user.password">
        </div>
        <div class="form-group" style="max-width: 300px">
            <label for="gender">性别</label>
            <select class="form-control" name="gender">
                <option value="1">男</option>
                <option
                        @if (ViewBag.user.gender == "0")
                {
                            @:selected
                }
                         value="0">女</option>
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="submitBtn">
                提交
            </button>
        </div>
    </form>
</div>

